# Ambientes Virtuais
/venv/

# Ficheiros de IDEs (PyCharm, VSCode)
/.idea/

# Dependências de Node.js (se usares no futuro)
/node_modules/

# Ficheiros Gerados (PDFs, base de dados, etc.)
/output/

# Ficheiros de compilação do Python
__pycache__/
*.pyc

# Ficheiros de Sistema Operacional
.DS_Store